@charset "UTF-8";

@-ms-viewport {
	width: device-width;
}

body {
	margin: 0px;
	font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
}
a,
a:link {
	color:#4169e1;
	text-decoration:underline;
}
a:hover img {
	filter: alpha(opacity=100);
	opacity: 1;
}

.ttl_h1 {
	margin: 20px 0 10px 0;
	padding: 3px 7px;
	background-color: #ff6000;
	font-size:16px;
	color:white;
}
.ttl_h2 {
/*
	margin: 20px 0 10px;
	padding: 6px 5px;
	font-size:14px;
	background:#FF6000;
	color:#fff;
*/
	margin: 20px 0 10px;
	padding: 7px;
	background-color: #ffffdd;
	font-size: 14px;
	border-top:solid 1px #ccc;
	border-bottom:solid 1px #ccc;
}
.update {
	margin: -3em 10px 2em;
	text-align:right;
	font-size: 11px;
	line-height:1;
}
.update span {
      color:white;
}
.red_line {
	margin: 0 auto;
	padding: 5px;
	max-width: 80%;
	border: solid 2px red;
	color:red;
	font-size:12px;
}
.exp {
	margin:0;
	padding:0 10px ;
	font-size:12px;
	line-height:1.5em;
}
.exp li {
	margin:0 0 0 -20px;
	font-size:12px;
	line-height:1.5em;
}
.ttl_event{
	margin:20px 0 0;
	padding:0;
	text-align:center;
	color:#ff0000;
	font-size:14px;
}

#wrapper{
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

/* -------------文字装飾------------- */
.price {
	color:red;
	font-size:12px;
	font-weight:bold;
}
.price span {
	margin-right:2px;
	font-family:"Verdana", "Arial", "Helvetica";
}
.link {
	margin:0;
	padding:5px 0 0 0;
	text-align:center;
	font-weight:bold;
	font-size:14px;
}
.strong_red {
	margin:0;
	padding:5px 0;
	text-align:center;
	color:red;
	font-size:16px;
	font-weight:bold;
}
.large {
	margin:0;
	padding:2px 0 0 0;
	font-weight:bold;
}
.orange{
	color:#f96005;
}
.red {
	color:red;
}
.blue {
	color:blue;
}

/* -------------ヘッダー------------- */

.header	{
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
}

.header .center {
    border: 1px;
    display: block;
    height: auto;
    margin: 0 auto;
    width: 30%;
}

.header .center img {
    border: 0;
    width: 100%;
}

.header .center h1 {
	display: inline-block;
	height: 53px;
	margin: 17px 0 12px;
}

.header .right {
	display: inline-block;
    float: none;
    margin: 0;
    position: absolute;
    right: 12px;
    top: 23px;
}

.header .btn {
	background:url(  https://www.rakuten.ne.jp/gold/sanwadirect/smp/img/h_menu/icon_cart.png) no-repeat;
	background-size:contain;
	border: none;
	height: 35px;
	margin: 0;
	width: 32px;
}

.header .btn a {
	display: inline-block;
	height: 100%;
	width: 100%;
}

#nav_wrapper {
	left: 12px;
	position: absolute;
	top:25px;
}

.navi_push{
	background: url(https://www.rakuten.ne.jp/gold/sanwadirect/smp/img/h_menu/icon_menu.png) no-repeat;
	background-color: #fff;
	background-size: contain;
	border: none;
	border-radius: 30px;
	display: block;
	height: 30px;
	line-height: 1.2;
	margin: 0;
	outline: none;
	-webkit-appearance: none;
	width: 30px;
	z-index: 1000000;
}

.navi_push.checked {
	background: url(img/h_menu/close.png) no-repeat;
	background-size: 65%;
	border-radius: 0;
	height: 60px;
	left: 0;
	position: fixed;
	top: 0;
	width:60px;
	z-index: 2147483646;
}

.navi_push.checked .fa {
	display: none;
}

.navi_iframe {
    display: none;
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    z-index: 1000000000;
}

.navi_iframe iframe {
	display: block;
	height: 100%;
	width: 100%;
}


.header:after	{
	content: "";
	display: block;
	clear: both;
}

.head_exp {
	margin:0;
	padding:12px 0;
	border-top:1px solid #cccccc;
	text-align:center;
	line-height:1.2;
}

.head_exp .small{
	font-size:0.8em;
}

.head_exp .caution{
	font-size:0.6em;
}

.head_exp img {
	width:100%;
}


/* -------------スライドメニュー------------- */
nav{
	z-index:999999;
}
nav label{
	position:fixed;
	top:8px;
	right:5px;
	display:block;
	z-index:9999999;
	text-align:center;
	padding:3px 5px;
	font-size:0.8em;
	line-height:1.3;
	-webkit-transition:all 0.3s;
	transition:all 0.3s;
}
nav label i{
	border:1px solid #808080;
	border-radius:3px;
	background:#ffffff;
	line-height:1;
}
nav label i:before{
	font-size:1.7em;
	display:block;
	padding:4px 5px 3px;
}
nav #menu-cb {
    display: none; /*チェックボックス本体は消しておく*/
}
nav #openBtn{
	opacity:1;
}
nav #closeBtn{
	color:#ffffff;
	right:3px;
	opacity:0;
}
nav #openBtn i{
	color:#bf0000;
}
nav #closeBtn i{
	color:#000000;
}
nav #closeBtn i:before{
	padding:4px 6px 3px;
}
nav #backarea{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(100,100,100,0.8);
	z-index:-1;
	visibility:hidden;
	opacity:0;
	-webkit-transition:all 0.3s;
	transition:all 0.3s;
}
nav #menu-cb[type="checkbox"]:checked ~ #openBtn {
    opacity:0;

}
nav #menu-cb[type="checkbox"]:checked ~ #closeBtn {
    opacity:1;
}
nav #menu-cb[type="checkbox"]:checked ~ #backarea {
    opacity:1;
	visibility:visible;
	z-index:999998;
}

nav ul#menuList{
	position:fixed;
    top: 0;
    right: -265px;
    margin: 65px 0 0;
	padding:0;
    width: 265px;
    height: 100%;
    background:#ffffff;
	z-index:999999;
	list-style:none;
	overflow-y:scroll;
	-webkit-transition:all 0.3s;
	transition:all 0.3s;
/*
	-webkit-transition: right 3s linear 0s; /*0.3s はアニメーションにかかる時間*
	transition: right 3s linear 0s; /*0.3s はアニメーションにかかる時間*
*/
}

nav #menu-cb[type="checkbox"]:checked ~ ul#menuList {
    right:0; /*メニュー本体横幅 width と合わせる*/
}
nav ul#menuList:after{
	content:" ";
	display:block;
	height:75px;
}
nav ul#menuList li{
	border-bottom:1px solid #E0E0E0;
	font-size:1em;
}
nav ul#menuList li:last-child{
	border-bottom:none;
}
nav ul#menuList li.ttl{
	padding:15px 10px;
	background:#FFFFE5;
}
nav ul#menuList li.search{
	padding:10px;
}
nav ul#menuList li a{
	padding:20px 10px 20px 15px;
	color:#666666 !important;
	text-decoration:none !important;
	display:block;
}
nav ul#menuList li.bnr a{
	padding:0 10px 10px 15px;
}
nav ul#menuList li.bnr a:first-child{
	padding-top:10px;
}
nav ul#menuList li form{
	background:#ff6000;
	border-radius:5px;
	width:90%;
}
nav ul#menuList li input,
nav ul#menuList li submit{
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
nav ul#menuList li input[type="search"]{
	border:2px solid #FF6000;
	border-radius:5px 0 0 5px;
	vertical-align:middle;
	background:#ffffff;
	width:85%;
	padding:7px;
}
nav ul#menuList li input[type="submit"]{
	border-radius:0 5px 5px 0;
	vertical-align:middle;
	font-family: FontAwesome;
	color:#ffffff;
	font-size:1.5em;
	padding:0 0 0 5px;
}
nav ul#menuList li.bnr{
	line-height:0;
}
nav ul#menuList li.bnr img{
	border:0;
	width:95%;
}

/* -------------テーブル------------- */
.list  {
	margin: 30px 10px;
	border-collapse: collapse;
}

.list table, .list th, .list td	{
	border: solid 1px #aaa;
}
.list th	{
	padding: 5px;
	font-size: 12px;
	text-align: center;
}
.list td	{
	padding: 5px;
	font-size: 12px;
	text-align: left;
}
.list th	{
	background-color: #ffffdd;
}

.list tr > :first-child	{
	width: 90px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


/* -------------商品紹介コンテンツ（1列）------------- */
.box_01	{
	margin: 30px 10px;
	padding: 0;
	background-color: white;
}
.box_01 ul, .box_01 ol	{
	margin: 0;
	padding: 0;
	font-size: 12px;
	line-height: 1.4;
	list-style: none;
}
.box_01 li a	{
	display: block;
	padding: 10px 5px 10px 5px;
	color: #000;
	text-decoration: none;
}
.box_01 li a:hover	{
	background-color: #eee;
}
.box_01 img	{
	float: left;
	border: none;
	width:100px;
	height:100px;
}
.box_01 .name	{
	font-weight: bold;
}
.box_01 li a:after	{
	content: "";
	display: block;
	clear: both;}
.box_01 li a	{
	*zoom: 1;
}


/* -------------商品紹介コンテンツ（目玉）------------- */
.box_01n	{
	margin: 0 10px;
	padding: 0;
	background-color: white;
	text-align: center;
}
.box_01n ul, .box_01n ol	{
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 1.4;
	list-style: none;
}
.box_01n li a	{
	display: block;
	padding: 10px 5px;
}
.box_01n li a:hover	{
	background-color: #eee;
}
.box_01n img	{
	border:0;
	width:200px;
	height:200px;
}
.box_01n p	{
	margin: 0
}
.box_01n li a:after	{
	content: "";
	display: block;
	clear: both;}
.box_01n li a	{
	*zoom: 1;
}
.box_01n .price {
	color:red;
	font-size:30px;
	font-weight:bold;
	font-family:"Verdana", "Arial", "Helvetica";
}


/* -------------商品紹介コンテンツ（1列・ランキング）------------- */

#rank5 h3 {
	font-size: 15px;
    position: relative;
    text-align: center;
    letter-spacing: 2.5px;
	margin: 0 0 20px;
}

#rank5 h3:before {
    content: '';
    position: absolute;
    bottom: -5px;
    display: inline-block;
    width: 60%;
    height: 2px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: black;
}

#rank5 .inner {
    margin: 30px auto;
}

/* -------------商品紹介コンテンツ（2列）------------- */
.box_02, .box_03 {
	margin: 0 10px;
	padding: 0;
	background-color: white;
	text-align:center;
}
.box_02 ul, .box_02 ol, .box_03 ul, .box_03 ol	{
	margin: 0;
	padding: 0;
	font-size: 12px;
	line-height: 1.4;
	list-style: none;
}

.box_02 li a, .box_03 li a	{
	display: block;
	padding: 5px;
	line-height:0;
}

.box_02 li a:hover, .box_03 li a:hover	{
	background-color: #eee;
}

.box_02 img	{
	border: none;
	width:130px;
	height:130px;
}
.box_02 p, .box_03 p {
	margin: 0;
}
.box_02 .title, .box_03 .title {
	font-weight: bold;
}
.box_02 .name, .box_03 .name {
	font-size:85%;
	text-align:left;
	line-height:1.3;
}

.box_02 .desc, .box_03 .desc {
	color: #666;
	font-size: 12px;
	}

.box_02 li a:after, .box_03 li a:after	{
	content: "";
	display: block;
	clear: both;}
.box_02 li a, .box_03 li a	{
	*zoom: 1;
}
.box_02 li a, .box_03 li img {
	border:1px solid #ccc;
}

/* -------------商品紹介コンテンツ（3列）------------- */
.box_03 li {
	width:32%;
	vertical-align:top;
	display: inline-block;
}
.box_03 img {
	border: none;
	width:100%;
}
.box_03 .rankimg {
	width:35%;
}

/* -------------商品紹介コンテンツ（3列・セール）------------- */
.box_03#sale_topics {
	margin: 0px;
	padding: 0;
	background-color: white;
	text-align:center;
}

/* -------------アイコン------------- */
.icon_orange, .icon_red, .icon_pink, .icon_yellow	{
	margin:0 1px;
	display: inline-block;
	padding: 2px 10px;
	border-radius: 4px;
	font-size: 12px;
}
.icon_red	{
	margin:0 1px;
	display: inline-block;
	padding: 2px 10px;
	border-radius: 4px;
	font-size: 12px;
	background-color: red;
	color: white;
}
.icon_pink	{
	margin:0 1px;
	display: inline-block;
	padding: 2px 10px;
	border-radius: 4px;
	font-size: 12px;
	border:0;
	background-color: #ffeded;
	color: red;
}
.icon_yellow	{
	margin:0 1px;
	display: inline-block;
	padding: 2px 10px;
	border-radius: 4px;
	font-size: 12px;
	border:1px;
	background-color: #ffcb00;
	color: black;
}
.icon_null	{
	margin:0;
	display: inline-block;
	width:50px;
	background-color: ;
}


/* -------------ラベル型メニュー------------- */
.menu_lb	{
	margin: 30px 10px;
	padding: 0;
}

.menu_lb ul, .menu_lb ol	{
	margin: 0;
	padding: 0;
	font-size: 12px;
	line-height: 1.4;
	list-style: none;
}
.menu_lb li a	{
	display: block;
	margin: 0 5px 5px 0;
	padding: 8px 10px;
	border: solid 1px #aaa;
	border-radius: 4px;
	color: #000;
	text-decoration: underline;
	}

.menu_lb li a:hover	{
	background-color: #eee;
}
.menu_lb li	{
	float: left;
}
.menu_lb ul:after, .menu_lb ol:after	{
	content: "";
	display: block;
	clear: both;
}
.menu_lb ul, .menu_lb ol	{
	*zoom: 1;
}


/* -------------ボタン------------- */
.button	{
	margin: 30px auto;
	display: inline-block;
	padding: 10px 30px 10px 30px;
	background-color: #eee;
	color: #000;
	font-size: 12px;
	text-decoration: none;
	border:1px solid #aaa;
}

.button a:hover, .button a:focus	{
	outline: none;
	background-color: #ccc;
}


/* -------------バナー------------- */

.banner_01, .banner_02, .banner_03 {
	margin:10px;
	text-align:center;
}

.banner_01 img {
	max-width: 100%;
	height: auto;
	margin: 2px 0;
	vertical-align: bottom;
	border:0;
}
.banner_01 p {
	font-size:14px;
	line-height:1.3em
}
.banner_02, .banner_03 {
	margin:15px 0;
	padding:0;
}
.banner_02 img {
	max-width: 45%;
	height: auto;
	margin:0 0 5px 3px;
	border:0;
}
.banner_03 img {
	max-width: 28%;
	height: auto;
	margin:0 0 5px 3px;
	border:0;
}


/* -------------メニューリスト------------- */
.menulist {
	margin: 30px 0;
	padding: 0;
	border-top: solid 1px #ccc;
	font-size: 14px;
}
.menulist h2 {
	margin: 0;
	padding: 7px;
	background-color: #ffffdd;
	font-size: 12px;
}
.menulist ul {
	margin: 0;
	padding: 0;;
	list-style: none;
}
.menulist li {
	position:relative;
}
.menulist li i {
	position:absolute;
	top:15px;
	right:10px;
	color:#aaa;
}
.menulist li a {
	display: block;
	padding: 12px;
	color: #000;
	text-decoration: none;
	border-bottom: solid 1px #ccc;
}
.menulist li:first-child	{
	border-top: solid 1px #ccc;
}

/* -------------メニューリストアコーディオン------------- */

.menulist.acc .accordion li span {
	display: block;
	padding:8px;
	border-top: solid 1px #ccc;
	font-weight:bold;
}
.menulist.acc .accordion li:first-child span {
	border:none;
}
.menulist.acc .accordion li:last-child {
	border-bottom: solid 1px #ccc;
}
.menulist.acc .accordion li li:last-child {
	border:none;
}
.menulist.acc .accordion li span img {
	width:29px;
	vertical-align:middle;
	margin-right:5px;
}
.menulist.acc .accordion li ul {
	margin:0;
	display:none;
}
.menulist.acc .accordion li li {
	background-color:#f6f6f6;
	border:none;
	position:relative;
}
.menulist.acc .accordion li li i {
	position:absolute;
	top:15px;
	right:10px;
	color:#aaa;
}
.menulist.acc .accordion li li a {
	padding-left:48px;
	border:none;
	border-top:1px solid #ccc;
}
.menulist.acc .accordion li span.single a {
	padding:0;
	border:none;
}
/* アイコン背景化 */
.menulist.acc.top_footer .accordion li span{
	padding:8px 8px 8px 42px;
	height:29px;
	line-height:2;
}
.menulist.acc.top_footer li {
	background:url(img/icon_cat.jpg?ver=181221) no-repeat;
	background-size:30px auto;
}
.menulist.acc.top_footer li:first-child{
	background-position:8px 0px;
}
.menulist.acc.top_footer li:nth-child(2){
	background-position:8px -241px;
}
.menulist.acc.top_footer li:nth-child(3){
	background-position:8px -300px;
}
.menulist.acc.top_footer li:nth-child(4){
	background-position:8px -178px;
}
.menulist.acc.top_footer li:nth-child(5){
	background-position:8px -597px;
}
.menulist.acc.top_footer li:nth-child(6){
	background-position:8px -657px;
}
.menulist.acc.top_footer li:nth-child(7){
	background-position:8px -57px;
}
.menulist.acc.top_footer li:nth-child(8){
	background-position:8px -118px;
}
.menulist.acc.top_footer li:nth-child(9){
	background-position:8px -479px;
}
.menulist.acc.top_footer li:nth-child(10){
	background-position:8px -537px;
}
.menulist.acc.top_footer li:nth-child(11){
	background-position:8px -359px;
}
.menulist.acc.top_footer li:nth-child(12){
	background-position:8px -417px;
}
.menulist.acc.top_footer li:nth-child(13){
	background-position:8px -957px;
}
.menulist.acc.top_footer li:nth-child(14){
	background-position:8px -778px;
}
.menulist.acc.top_footer li:nth-child(15){
	background-position:8px -840px;
}
.menulist.acc.top_footer li:nth-child(16){
	background-position:8px -895px;
}
.menulist.acc.top_footer li:nth-child(17){
	background-position:8px -720px;
}
.menulist.acc.top_footer li:nth-child(18){
	background-position:8px -1020px;
}
.menulist.acc.top_footer li:nth-child(19){
	background-position:8px -1080px;
}
.menulist.acc.top_footer li:nth-child(20){
	background-position:8px -1187px;
}

.menulist.acc.top_footer li li{
	background-image:none;
}
.menulist.acc.top_footer li:nth-child(21){
	background: url(img/icon_cat.jpg?ver=181221) no-repeat;
    background-size: 30px auto;
    background-position: 8px -1141px;
}



/* -------------メニューリスト2列------------- */

.menulist.col2 li {
	margin:0;
	padding:0;
	display:inline-block;
	width:49.3%;
	box-sizing:border-box;
}
.menulist.col2 li img {
	margin:8px 5px 5px 5px;
	width:24px;
	float:left;
}
.menulist.col2 li:nth-child(2) {
	border-top: solid 1px #ccc;
}
.menulist.col2 li:nth-child(even) a {
	border-left: solid 1px #ccc;
}
/* アイコン背景化 */
.menulist.col2.top_footer li a{
	padding:12px 12px 12px 34px;
}
.menulist.col2.top_footer li {
	background:url(img/icon_info.gif) no-repeat;
	background-size:24px auto;
}
.menulist.col2.top_footer li:first-child{
	background-position:5px 8px;
}
.menulist.col2.top_footer li:nth-child(2){
	background-position:5px -31px;
}
.menulist.col2.top_footer li:nth-child(3){
	background-position:5px -70px;
}
.menulist.col2.top_footer li:nth-child(4){
	background-position:5px -109px;
}
.menulist.col2.top_footer li:nth-child(5){
	background-position:5px -148px;
}
.menulist.col2.top_footer li:nth-child(6){
	background-position:5px -187px;
}

/* -------------フッター------------- */
.footer	{
	padding: 20px;
	background-color: #eee;
	text-align: center;
}

.footer p	{
	margin: 0 0 3px 0;
	font-size: 14px;
	line-height: 1.4;
}
.footer .copy	{
	margin: 0 0 3px 0;
	font-size: 10px;
	line-height: 1.4;
}

/* -------------検索ボックス------------- */
.search_box {
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	padding: 15px 0;
	text-align:center;
	background-color:#eee;
	margin-bottom: 12px;
}
.search_box input {
	-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0) inset;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
}
.search_box input[type="search"] {
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	width:70%;
	height:35px;
	padding-left:1em;
	border:1px solid gray;
	font-size:14px;
}
.search_box input[type="submit"] {
	height:35px;
	width:70px;
	border:1px solid gray;
	border-radius:4px;
	background: linear-gradient(white, #ddd);
	font-weight:bold;
	font-size:16px;
}


/* -------------人気ワード------------- */


#search_word {
	margin-top:6px;
	padding:0;
	height:auto;
	font-size:9px;
}


#search_word .box {
	width:100%;
	position: relative;
	display: inline-block;
	line-height: 2em;
	background: #eeeeee;
	z-index: 0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

#search_word p{
	display:inline;
	margin:13px 0 0 10px;
	font-weight:bold;
	float:left;
}

#search_word ul{
	margin: 0;
	padding:5px 0;
}
#search_word li{
	display:inline-block;
	*display:inline;
	*zoom:1;
	border:1px solid #ccc;
	padding:8px 5px;
	margin:2px 0 5px 2px;
	background-color:white;
    border-radius: 5px;
	font-size: 11px;
    -webkit-border-radius: 5px;    /* Safari,Google Chrome—p */
    -moz-border-radius: 5px;   /* Firefox—p */
}

#search_word li a {
	color: #333;
	text-decoration: none;
}


@media screen and (min-width: 300px) and (max-device-width: 358px) {
	#search_word li:nth-child(4){
		display:none;
	}
}
/* -------------icon追加------------- */

.icon_new	{
	margin:0;
	padding: 2px 10px;
	width:110px;
	background-color: #fff371;
}

.icon_re	{
	margin:0;
	padding: 2px 10px;
	width:110px;
	background-color: #ffd6d6;
}
.icon_rank	{
	margin:0 1px;
	display: inline-block;
	padding: 2px 10px;
	background-color: #D7DAFC;
	color: black;
	font-size: 11px;
	border:2px;
	border: 1px solid black;
}


/* -------------新商品------------- */
#new ul, #new li{
	margin:0;
	padding:0;
}
#new li{
	width:33.3%;
	margin:0;
	text-align:center;
}
#new img{
	width:100%;
}
h2#new{
/*	margin-top:15px;*/
}


/* -------------トップページレビュースワイプ（スライドアニメーション）------------- */
.inSliderGoodsContainer {
	overflow:hidden;
}
.inSliderGoodsContainer .flex-viewport {
	width:100%;
	overflow-x:scroll;
	overflow-y:auto;
	-webkit-overflow-scrolling: touch;
	-ms-scroll-chaining: chained;
	-webkit-transform: translateZ(0);
}
.inSliderGoodsContainer .flex-viewport::-webkit-scrollbar {
	display: none;
	height: 0 !important;
}
.inSliderGoodsContainer .slides {
	overflow-x: visible;
	margin: 0;
}
.inSliderGoodsContainer .slides li {
	display: inline-block;
	vertical-align:top;
	margin-bottom:10px;
}
.inSliderGoodsContainer .slides p {
	font-size:14px;
}
.inSliderGoodsContainer .slides img {
	width:300px
}



/* -------------おすすめ特集------------- */
#osusume_sp{
/*	text-align:center;*/
	padding-bottom:0px;
}
#osusume_sp p{
	margin:0 0 10px;
	padding:0;
	line-height:0;
}
#osusume_sp_ttl{
	margin-top:15px;
}

/* -------------おすすめ特集（スライドアニメーション）------------- */
#osusume_sp {
	margin:10px 0 0 10px;
	height:auto;
	overflow:hidden;
}

#osusume_sp ul {
	margin:0;
	padding:0;
	height:110px;
}

#osusume_sp li {
	margin:0 10px 0px 0;
	width:100px;
	text-align:center;
	line-height:1.2;
}
#osusume_sp img {
	margin:0;
	width:100%;
}
#osusume_sp li span.price{
	font-size:11px;
}
#osusume_sp li span.price span{
	font-size:15px;
}
.gooda_bnr{
	margin:0 0 5px;
	padding:0;
	text-align:center;
	line-height:0;
}

/* -------------楽天ポイントキャンペーン（スライドアニメーション）------------- */
#rakuten_point_slide {
	margin:10px 0 0 10px;
	height:auto;
	overflow:hidden;
}

#rakuten_point_slide ul {
	margin:0;
	padding:0;
	height:93px;
}

#rakuten_point_slide li {
	margin:0 5px 0px 0;
	width:88px;
	text-align:center;
	line-height:1.2;
}
#rakuten_point_slide img {
	margin:0;
	width:100%;
}

/* テキストクーポン */
.coupon_txt{
	border:1px solid #cccccc;
}
.coupon_txt a{
	display:inline-block;
	vertical-align:middle;
	width:88px;
	height:86px;
	font-size:16px;
	text-decoration:none;
}
.coupon_txt a .cap{
	display:block;
	font-size:10px;
	color:#000000;
	line-height:1;
	padding:3px 0 2px;
}
.coupon_txt a .inner{
	display:inline-block;
	vertical-align:middle;
	width:88px;
	height:61px;
	margin:0;
	background:#FFD200;
}
.coupon_txt a .inner .coupon_ttl{
	display:inline-block;
	vertical-align:middle;
	color:#bf0000;
	font-size:16px;
	font-weight:bold;
	background:#FFF700;
	margin:4px 0;
	width:calc(100% - 6px);
	height:43px;
	padding:5px 0;
}
.coupon_txt a .inner .coupon_ttl span.coupon_price{
	font-size:22px;
	font-family:"Verdana", "Arial", "Helvetica";
	font-weight:bold;
	letter-spacing:-1px;
}
.coupon_txt a .inner .coupon_ttl span.coupon_price span{
	letter-spacing:-3px;
}
.coupon_txt a .inner .coupon_ttl span.small{
	font-size:13px;
	font-weight:bold;
}


/* -------------店舗紹介------------- */


#shop_sanwa{
	width:100%;
	padding:0;
	text-align:center;
}


#shop_sanwa img{
	width:98%;
	height:auto;
}

#shop_sanwa:after{
    content:" ";
    display:block;
    clear:both;
}


/* -------------おすすめ限定------------- */
#osusume{
	text-align:center;
}
#osusume img{
	vertical-align:bottom;
}




/* -------------ボタン------------- */
.topbtn {
display: block;
margin: 2% auto 5%;
padding:2% 5%;
width:70%;
border:2px solid #999999;
border-radius:5px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
text-decoration:none !important;
color:#999999 !important;
font-weight:normal;
font-size:0.8em;
}

/* -------------店長イチオシ------------- */
div#ichioshi{
}
div#ichioshi li{
	text-align:right;
	position:relative;
}
div#ichioshi li a{
	line-height:0;
	font-size:11px;
}
p.val2{
	margin:0;
	padding:0;
	position:absolute;
	top:60%;
	right:5px;
}
p.val2 img{
	width:auto;
	height:20px;
	border:0;
}

.news td{
	line-height:1.2;
}


/* -------------メールマガジン登録------------- */

.mail_magazine{
	margin:0 0 15px 0;
	text-align:center;
}

.mail_magazine p {
	margin: 12px 0;
}

.mail_btn{
	width:86%;
	height:40px;
	line-height:40px;
	background:red;
	display:block;
	margin:auto;
}
.mail_msg{
	width:86%;
	margin:0 auto;
	display:none;
	color:red;
}

.mail_form{
	width:100%;
	display:block;
}
.mail_email{
	font-weight:bold;
	width:90%;
	height:45px;
	line-height:45px;
	margin:0 auto 10px auto;
	border:solid #cccccc 1px;
	color:black;
}

.mail_magazine a{
	color:white;
}



/* -------------ローテーションバナー------------- */
#slider_main {
	margin:20px auto 15px;
	width: 100%;
	height: 205px;
	border:0;
	position:relative;
	overflow:hidden;
}
#slider_main:before,
#slider_main:after{
}
#slider_main:before{
	width:112px;
	left:0;
}
#slider_main:after {
	width:111px;
	right:0;
}
.slick-prev,
.slick-next{
	top:45px !important;
	width:10% !important;
	height:90px !important;
	background:rgba(150,150,150,0.6) !important;
display:none !important;
}
#slider_main .slick-prev:before,
#slider_main .slick-next:before{
	font-size:30px !important;
}
.slick-dots{
	position:static !important;
	margin:5px 0 0 !important;
}
.slick-slide{
	height:180px !important;
	opacity:0.3 !important;
}
.slick-slide.slick-active{
	opacity:1 !important;
}
.slick-slide img{
	height:100%;
}

/* -----------週替わりセール------------- */
#weekly_sale li {
	width:49.4%;
	margin-bottom:10px;
}

#weekly_sale li a {
	border:none;
}
#weekly_sale li img {
	width:100%;
	height:100%;
}

#weekly_sale li .name {
	font-size:100%;
	text-align:center;
	margin-top:5px;
}


@media screen and (min-width: 320px) and (max-device-width: 359px) {
div.tabbox {
	width:100% !important;
	height: 620px !important;
}
div.tabbox ul.tabs a {
	font-size:10px !important;
}
div.tabbox ul.tabs a.longname {
	padding:6px !important;
}

div.tabbox ul.tabs a {
	font-size:10px !important;
}

.head_exp {
	font-size:15px !important;
}
.head_exp .red {
	font-size:15px !important;
}

.slick-slide{
	height:150px !important;
}

#slider_main {
	height:175px !important;
}
}

@media screen and (min-width: 300px) and (max-device-width: 358px) {
	/*iphone5用*/
	.item_rank{
	height:587px!important;
}

#search_word li a {
	font-size: 0.6rem;
}

#search_word li {
	padding: 8px 3px;
}


   }
   
